#container {
  margin:30px;
}
h1 {
  text-align: center;
}
button {
  background-color: rgba(0, 102, 255, 0.849);

}
#form-body {
  border: 1px solid #333;
  padding: 10px;
  width:60%;
  margin: 0 20% 0 20%;
}


i {
  display: inline-block;
  float:right;
}

.invalid {
  color:red;
}